# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

build_file: "piper/google3/third_party/android/androidx_test/kokoro/axt_attest_artifacts.sh"

action {
  define_artifacts {
    regex: "output_dir/axt_m2repository_unsigned_and_attested.zip"
    strip_prefix: "output_dir"
    fail_if_no_artifacts: true
  }
}