# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

build_file: "android-test-releases/kokoro/build_artifacts.sh"

fileset_artifacts {
  # make the generated attestation bundle name equal to the Rapid candidate name
  name: "$[CANDIDATE_NAME]"

  # Globs replace the legacy 'regex' field.
  artifact_globs: "github/android-test-releases/axt_m2repository_unsigned.zip"

  # Removes the directory path prefix from the artifact output.
  strip_prefix: "github/android-test-releases"

  # Fails the build if the zip file is not generated
  error_if_missing: true

  destinations {
    store_attestation: true

    gcs {
      gcs_root_path: "androidx-test-staging/release"
    }
  }
}
